body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    user-select: none;
}

.background {
    background-image: radial-gradient(black 1px, transparent 1px);
    background-size: 24px 24px;

    animation: background-move 3s linear infinite;
}
@keyframes background-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 24px 24px;
    }
}

#hero-text {
    font-family: 'Trebuchet MS';
    animation: hero-text-spin 2s ease-in-out infinite;
}

@keyframes hero-text-spin {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.game-box {
    overflow-y: auto;
    width: 300px;
    height: 200px;
    background-color: white;
    border: 6px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.game-container > *{
    transform: scale(1);
    transition: transform 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.game-container > *:hover {
    transform: scale(1.1);
    text-shadow: 0 1px 12px rgba(0, 0, 0, 0.12);
}

.game-container > *:active {
    transform: scale(0.9);
}